@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var log = (string)ViewData["log"];
    var pas = (string)ViewData["pas"];
}

<h2> @log  </h2>
<h4> @pas  </h4>



